@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('./assests/solar-sys.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}


